name: Generate SBOM for Dependency-Track

on:
  workflow_dispatch:
  push:
    branches:
      - '*'

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Generate + Upload SBOM
        uses: ./.github/actions/generate-node-sbom
        with:
          frontend_dir: frontend
          project_name: ${{ github.event.repository.name }}-frontend
          project_version: ${{ github.ref_name }}
          api_key: ${{ secrets.DTRACK_API_KEY }}
