name: Generate SBOM for Dependency-Track

on:
  workflow_dispatch:
  push:
    branches:
      - '*'

env:
  TRACKER_ENDPOINT: "https://ca-live-global-dtrack-api.purplemoss-6e7d841c.westeurope.azurecontainerapps.io/api/v1/bom"

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4    

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install CycloneDX Node.js CLI in frontend
        run: |
          if [ -f "package.json" ]; then
            npm install --save-dev @cyclonedx/cyclonedx-npm
          else
            echo "No package.json found, skipping CycloneDX install."
          fi

      - name: Generate SBOM for Node.js (frontend)
        run: |
          if [ -f "package-lock.json" ] || [ -f "yarn.lock" ]; then
            npx @cyclonedx/cyclonedx-npm -o ./sbom/bom-frontend.xml
          else
            echo "No package-lock.json or yarn.lock found, skipping frontend SBOM."
          fi
          
      # Upload Node.js SBOM (if exists)
      - name: Upload Node.js SBOM to Dependency-Track
        env:
          DTRACK_API_KEY: ${{ secrets.DTRACK_API_KEY }}
        run: |
          if [ -f ./sbom/bom-frontend.xml ]; then
            curl --fail-with-body -v -i -w "\nHTTP Status: %{http_code}\n" \
              -X POST "$TRACKER_ENDPOINT" \
              -H "X-Api-Key: $DTRACK_API_KEY" \
              -H "accept: application/json" \
              -H "Content-Type: multipart/form-data" \
              -F "autoCreate=true" \
              -F "projectName=${{ github.event.repository.name }}-frontend" \
              -F "projectVersion=${{ github.ref_name }}" \
              -F "bom=@./sbom/bom-frontend.xml"
          else
            echo "No frontend SBOM to upload."
          fi
